body, p, th, td {
			font-family: sans-serif;
			font-size: 2.3rem;
		    line-height: 3.2rem;
		}
		
		.text {
			font-family: sans-serif;
			font-size: 2.0rem;
		    line-height: 2.6rem;
		}
		
		@media (min-width: 1365px){
		
		body, p, th, td  {
		    font-size: 1.6rem;
		    line-height: 2.2rem;
		}
		.text {
			font-family: sans-serif;
			font-size: 1.6rem;
		    line-height: 2.2rem;
		}
		}
		
		div {
/* 		  max-width: 700px; //40em; */
		  /* max-height: 100em; */
		  
		  /* min-width: 80%; */
		  max-width: 40em;  //original
		  /* width: 100%; */
          max-height: 20em;  //original
          
		  overflow: scroll;
		  position: relative;
		}
		
		/*
div.table {
		  padding-left: 100px;
		}
*/
		
		div.two {
		  min-height: 40em;
		  border: 1px solid #CCC;
		  margin-top: 20px;
		  margin-bottom: 20px;
		}
		
		table {
		  position: relative;
		  border-collapse: collapse;
	      letter-spacing: 0.02em;
	      border: none;
	      width: 100%;
		  
		}
		
		td,
		th {
		  padding: 0.5em;
		  vertical-align: top;
		}
		
		  
	    td {
		  /* padding: 3px 13px !important; */
		  padding: 0.5em 1.5em !important;
		}
		
		thead th {
		  position: -webkit-sticky; /* for Safari */
		  position: sticky;
		  top: 0;
		  background: #FFF;
		  background: #ebebeb;
		  /*
background: #000;
		  color: #FFF;
*/
		}
		
		thead th.second {
		  position: -webkit-sticky; /* for Safari */
		  position: sticky;
		  top: 20px;
		}
		
		thead tr:nth-child(2){
		  text-align: right;
		  padding-right: 50px;
		}
		
		thead th{
		  padding-right: 55px;
		}
		
		
		.border-bottom {
		  border-bottom: 2px solid black;
		  top: 61px;
		}
		
		thead th:first-child {
		  background-color: #FFF;
		  left: 0;
		  z-index: 1;
		}
		
		tbody th {
		  position: -webkit-sticky; /* for Safari */
		  position: sticky;
		  left: 0;
		  background: #FFF;
		  background: transparent;
		  border-right: 1px solid #CCC;
		  font-weight: normal;
		  text-align: left;
		  border-bottom: 1px solid black;
		}
		tbody td:nth-child(2) {
		  //left: 0;
		  //z-index: 1;
		  background: #ebebeb;
		}
		tbody td {
		  text-align: right;
		  border-bottom: 1px solid black;
		}
		
		.text-eingerueckt {
		    padding-left: 20px;
		}
		
		.text-klein {
		    font-size: 1.8rem;
		    line-height: 2.0rem;
		    /*
color: #595959;
		    color: var(--ci-color-dark-gray);
		    margin: 0;
*/
		}
		
		.fussnote {
		    vertical-align: 9px;
		    font-size: 0.7em;
		}
		
		.sameline {
		    line-height: 2.5rem;
		}
